In [7]:
import pandas as pd 
import numpy as np

In [9]:
stu=pd.read_csv('placement.csv')
stu

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [11]:
stu.head(10)

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.00,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.50,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.00,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.00,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.80,Mkt&Fin,55.50,Placed,425000.0
5,6,M,55.00,Others,49.80,Others,Science,67.25,Sci&Tech,Yes,55.00,Mkt&Fin,51.58,Not Placed,NaN
6,7,F,46.00,Others,49.20,Others,Commerce,79.00,Comm&Mgmt,No,74.28,Mkt&Fin,53.29,Not Placed,NaN
7,8,M,82.00,Central,64.00,Central,Science,66.00,Sci&Tech,Yes,67.00,Mkt&Fin,62.14,Placed,252000.0
8,9,M,73.00,Central,79.00,Central,Commerce,72.00,Comm&Mgmt,No,91.34,Mkt&Fin,61.29,Placed,231000.0
9,10,M,58.00,Central,70.00,Central,Commerce,61.00,Comm&Mgmt,No,54.00,Mkt&Fin,52.21,Not Placed,NaN

In [13]:
stu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           215 non-null    int64
 1   gender          215 non-null    object
 2   ssc_p           215 non-null    float64
 3   ssc_b           215 non-null    object
 4   hsc_p           215 non-null    float64
 5   hsc_b           215 non-null    object
 6   hsc_s           215 non-null    object
 7   degree_p        215 non-null    float64
 8   degree_t        215 non-null    object
 9   workex          215 non-null    object
 10  etest_p         215 non-null    float64
 11  specialisation  215 non-null    object
 12  mba_p           215 non-null    float64
 13  status          215 non-null    object
 14  salary          148 non-null    float64
dtypes: float64(6), int64(1), object(8)
memory usage: 25.3+ KB

In [15]:
stu.iloc[:,5:]

,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...
210,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

1. Delimiter/Separator

In [18]:
import csv

# Reading with default comma delimiter
with open('placement.csv', 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s', 'degree_p', 'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p', 'status', 'salary']
['1', 'M', '67.00', 'Others', '91.00', 'Others', 'Commerce', '58.00', 'Sci&Tech', 'No', '55', 'Mkt&HR', '58.8', 'Placed', '270000']
['2', 'M', '79.33', 'Central', '78.33', 'Others', 'Science', '77.48', 'Sci&Tech', 'Yes', '86.5', 'Mkt&Fin', '66.28', 'Placed', '200000']
['3', 'M', '65.00', 'Central', '68.00', 'Central', 'Arts', '64.00', 'Comm&Mgmt', 'No', '75', 'Mkt&Fin', '57.8', 'Placed', '250000']
['4', 'M', '56.00', 'Central', '52.00', 'Central', 'Science', '52.00', 'Sci&Tech', 'No', '66', 'Mkt&HR', '59.43', 'Not Placed', '']
['5', 'M', '85.80', 'Central', '73.60', 'Central', 'Commerce', '73.30', 'Comm&Mgmt', 'No', '96.8', 'Mkt&Fin', '55.5', 'Placed', '425000']
['6', 'M', '55.00', 'Others', '49.80', 'Others', 'Science', '67.25', 'Sci&Tech', 'Yes', '55', 'Mkt&Fin', '51.58', 'Not Placed', '']
['7', 'F', '46.00', 'Others', '49.20', 'Others', 'Commerce', '79.00', 'Comm&Mgmt', 'No', '74.28', 'Mkt&Fin', '53.29', 'Not Placed', '']
['8', 'M', '82.00', 'Central', '64.00', 'Central', 'Science', '66.00', 'Sci&Tech', 'Yes', '67', 'Mkt&Fin', '62.14', 'Placed', '252000']
['9', 'M', '73.00', 'Central', '79.00', 'Central', 'Commerce', '72.00', 'Comm&Mgmt', 'No', '91.34', 'Mkt&Fin', '61.29', 'Placed', '231000']
['10', 'M', '58.00', 'Central', '70.00', 'Central', 'Commerce', '61.00', 'Comm&Mgmt', 'No', '54', 'Mkt&Fin', '52.21', 'Not Placed', '']
['11', 'M', '58.00', 'Central', '61.00', 'Central', 'Commerce', '60.00', 'Comm&Mgmt', 'Yes', '62', 'Mkt&HR', '60.85', 'Placed', '260000']
['12', 'M', '69.60', 'Central', '68.40', 'Central', 'Commerce', '78.30', 'Comm&Mgmt', 'Yes', '60', 'Mkt&Fin', '63.7', 'Placed', '250000']
['13', 'F', '47.00', 'Central', '55.00', 'Others', 'Science', '65.00', 'Comm&Mgmt', 'No', '62', 'Mkt&HR', '65.04', 'Not Placed', '']
['14', 'F', '77.00', 'Central', '87.00', 'Central', 'Commerce', '59.00', 'Comm&Mgmt', 'No', '68', 'Mkt&Fin', '68.63', 'Placed', '218000']
['15', 'M', '62.00', 'Central', '47.00', 'Central', 'Commerce', '50.00', 'Comm&Mgmt', 'No', '76', 'Mkt&HR', '54.96', 'Not Placed', '']
['16', 'F', '65.00', 'Central', '75.00', 'Central', 'Commerce', '69.00', 'Comm&Mgmt', 'Yes', '72', 'Mkt&Fin', '64.66', 'Placed', '200000']
['17', 'M', '63.00', 'Central', '66.20', 'Central', 'Commerce', '65.60', 'Comm&Mgmt', 'Yes', '60', 'Mkt&Fin', '62.54', 'Placed', '300000']
['18', 'F', '55.00', 'Central', '67.00', 'Central', 'Commerce', '64.00', 'Comm&Mgmt', 'No', '60', 'Mkt&Fin', '67.28', 'Not Placed', '']
['19', 'F', '63.00', 'Central', '66.00', 'Central', 'Commerce', '64.00', 'Comm&Mgmt', 'No', '68', 'Mkt&HR', '64.08', 'Not Placed', '']
['20', 'M', '60.00', 'Others', '67.00', 'Others', 'Arts', '70.00', 'Comm&Mgmt', 'Yes', '50.48', 'Mkt&Fin', '77.89', 'Placed', '236000']
['21', 'M', '62.00', 'Others', '65.00', 'Others', 'Commerce', '66.00', 'Comm&Mgmt', 'No', '50', 'Mkt&HR', '56.7', 'Placed', '265000']
['22', 'F', '79.00', 'Others', '76.00', 'Others', 'Commerce', '85.00', 'Comm&Mgmt', 'No', '95', 'Mkt&Fin', '69.06', 'Placed', '393000']
['23', 'F', '69.80', 'Others', '60.80', 'Others', 'Science', '72.23', 'Sci&Tech', 'No', '55.53', 'Mkt&HR', '68.81', 'Placed', '360000']
['24', 'F', '77.40', 'Others', '60.00', 'Others', 'Science', '64.74', 'Sci&Tech', 'Yes', '92', 'Mkt&Fin', '63.62', 'Placed', '300000']
['25', 'M', '76.50', 'Others', '97.70', 'Others', 'Science', '78.86', 'Sci&Tech', 'No', '97.4', 'Mkt&Fin', '74.01', 'Placed', '360000']
['26', 'F', '52.58', 'Others', '54.60', 'Central', 'Commerce', '50.20', 'Comm&Mgmt', 'Yes', '76', 'Mkt&Fin', '65.33', 'Not Placed', '']
['27', 'M', '71.00', 'Others', '79.00', 'Others', 'Commerce', '66.00', 'Comm&Mgmt', 'Yes', '94', 'Mkt&Fin', '57.55', 'Placed', '240000']
['28', 'M', '63.00', 'Others', '67.00', 'Others', 'Commerce', '66.00', 'Comm&Mgmt', 'No', '68', 'Mkt&HR', '57.69', 'Placed', '265000']
['29', 'M', '76.76', 'Others', '76.50', 'Others', 'Commerce', '67.50', 'Comm&Mgmt', 'Yes', '73.35', 'Mkt&Fin', '64.15', 'Placed', '350000']
['30', 'M', '62.00', 'Central', '67.00', 'Central', 'Commerce', '58.00', 'Comm&Mgmt', 'No', '77', 'Mkt&Fin', '51.29', 'Not Placed', '']
['31', 'F', '64.00', 'Central', '73.50', 'Central', 'Commerce', '73.00', 'Comm&Mgmt', 'No', '52', 'Mkt&HR', '56.7', 'Placed', '250000']
['32', 'F', '67.00', 'Central', '53.00', 'Central', 'Science', '65.00', 'Sci&Tech', 'No', '64', 'Mkt&HR', '58.32', 'Not Placed', '']
['33', 'F', '61.00', 'Central', '81.00', 'Central', 'Commerce', '66.40', 'Comm&Mgmt', 'No', '50.89', 'Mkt&HR', '62.21', 'Placed', '278000']
['34', 'F', '87.00', 'Others', '65.00', 'Others', 'Science', '81.00', 'Comm&Mgmt', 'Yes', '88', 'Mkt&Fin', '72.78', 'Placed', '260000']
['35', 'M', '62.00', 'Others', '51.00', 'Others', 'Science', '52.00', 'Others', 'No', '68.44', 'Mkt&HR', '62.77', 'Not Placed', '']
['36', 'F', '69.00', 'Central', '78.00', 'Central', 'Commerce', '72.00', 'Comm&Mgmt', 'No', '71', 'Mkt&HR', '62.74', 'Placed', '300000']
['37', 'M', '51.00', 'Central', '44.00', 'Central', 'Commerce', '57.00', 'Comm&Mgmt', 'No', '64', 'Mkt&Fin', '51.45', 'Not Placed', '']
['38', 'F', '79.00', 'Central', '76.00', 'Central', 'Science', '65.60', 'Sci&Tech', 'No', '58', 'Mkt&HR', '55.47', 'Placed', '320000']
['39', 'F', '73.00', 'Others', '58.00', 'Others', 'Science', '66.00', 'Comm&Mgmt', 'No', '53.7', 'Mkt&HR', '56.86', 'Placed', '240000']
['40', 'M', '81.00', 'Others', '68.00', 'Others', 'Science', '64.00', 'Sci&Tech', 'No', '93', 'Mkt&Fin', '62.56', 'Placed', '411000']
['41', 'F', '78.00', 'Central', '77.00', 'Others', 'Commerce', '80.00', 'Comm&Mgmt', 'No', '60', 'Mkt&Fin', '66.72', 'Placed', '287000']
['42', 'F', '74.00', 'Others', '63.16', 'Others', 'Commerce', '65.00', 'Comm&Mgmt', 'Yes', '65', 'Mkt&HR', '69.76', 'Not Placed', '']
['43', 'M', '49.00', 'Others', '39.00', 'Central', 'Science', '65.00', 'Others', 'No', '63', 'Mkt&Fin', '51.21', 'Not Placed', '']
['44', 'M', '87.00', 'Others', '87.00', 'Others', 'Commerce', '68.00', 'Comm&Mgmt', 'No', '95', 'Mkt&HR', '62.9', 'Placed', '300000']
['45', 'F', '77.00', 'Others', '73.00', 'Others', 'Commerce', '81.00', 'Comm&Mgmt', 'Yes', '89', 'Mkt&Fin', '69.7', 'Placed', '200000']
['46', 'F', '76.00', 'Central', '64.00', 'Central', 'Science', '72.00', 'Sci&Tech', 'No', '58', 'Mkt&HR', '66.53', 'Not Placed', '']
['47', 'F', '70.89', 'Others', '71.98', 'Others', 'Science', '65.60', 'Comm&Mgmt', 'No', '68', 'Mkt&HR', '71.63', 'Not Placed', '']
['48', 'M', '63.00', 'Central', '60.00', 'Central', 'Commerce', '57.00', 'Comm&Mgmt', 'Yes', '78', 'Mkt&Fin', '54.55', 'Placed', '204000']
['49', 'M', '63.00', 'Others', '62.00', 'Others', 'Commerce', '68.00', 'Comm&Mgmt', 'No', '64', 'Mkt&Fin', '62.46', 'Placed', '250000']
['50', 'F', '50.00', 'Others', '37.00', 'Others', 'Arts', '52.00', 'Others', 'No', '65', 'Mkt&HR', '56.11', 'Not Placed', '']
['51', 'F', '75.20', 'Central', '73.20', 'Central', 'Science', '68.40', 'Comm&Mgmt', 'No', '65', 'Mkt&HR', '62.98', 'Placed', '200000']
['52', 'M', '54.40', 'Central', '61.12', 'Central', 'Commerce', '56.20', 'Comm&Mgmt', 'No', '67', 'Mkt&HR', '62.65', 'Not Placed', '']
['53', 'F', '40.89', 'Others', '45.83', 'Others', 'Commerce', '53.00', 'Comm&Mgmt', 'No', '71.2', 'Mkt&HR', '65.49', 'Not Placed', '']
['54', 'M', '80.00', 'Others', '70.00', 'Others', 'Science', '72.00', 'Sci&Tech', 'No', '87', 'Mkt&HR', '71.04', 'Placed', '450000']
['55', 'F', '74.00', 'Central', '60.00', 'Others', 'Science', '69.00', 'Comm&Mgmt', 'No', '78', 'Mkt&HR', '65.56', 'Placed', '216000']
['56', 'M', '60.40', 'Central', '66.60', 'Others', 'Science', '65.00', 'Comm&Mgmt', 'No', '71', 'Mkt&HR', '52.71', 'Placed', '220000']
['57', 'M', '63.00', 'Others', '71.40', 'Others', 'Commerce', '61.40', 'Comm&Mgmt', 'No', '68', 'Mkt&Fin', '66.88', 'Placed', '240000']
['58', 'M', '68.00', 'Central', '76.00', 'Central', 'Commerce', '74.00', 'Comm&Mgmt', 'No', '80', 'Mkt&Fin', '63.59', 'Placed', '360000']
['59', 'M', '74.00', 'Central', '62.00', 'Others', 'Science', '68.00', 'Comm&Mgmt', 'No', '74', 'Mkt&Fin', '57.99', 'Placed', '268000']
['60', 'M', '52.60', 'Central', '65.58', 'Others', 'Science', '72.11', 'Sci&Tech', 'No', '57.6', 'Mkt&Fin', '56.66', 'Placed', '265000']
['61', 'M', '74.00', 'Central', '70.00', 'Central', 'Science', '72.00', 'Comm&Mgmt', 'Yes', '60', 'Mkt&Fin', '57.24', 'Placed', '260000']
['62', 'M', '84.20', 'Central', '73.40', 'Central', 'Commerce', '66.89', 'Comm&Mgmt', 'No', '61.6', 'Mkt&Fin', '62.48', 'Placed', '300000']
['63', 'F', '86.50', 'Others', '64.20', 'Others', 'Science', '67.40', 'Sci&Tech', 'No', '59', 'Mkt&Fin', '59.69', 'Placed', '240000']
['64', 'M', '61.00', 'Others', '70.00', 'Others', 'Commerce', '64.00', 'Comm&Mgmt', 'No', '68.5', 'Mkt&HR', '59.5', 'Not Placed', '']
['65', 'M', '80.00', 'Others', '73.00', 'Others', 'Commerce', '75.00', 'Comm&Mgmt', 'No', '61', 'Mkt&Fin', '58.78', 'Placed', '240000']
['66', 'M', '54.00', 'Others', '47.00', 'Others', 'Science', '57.00', 'Comm&Mgmt', 'No', '89.69', 'Mkt&HR', '57.1', 'Not Placed', '']
['67', 'M', '83.00', 'Others', '74.00', 'Others', 'Science', '66.00', 'Comm&Mgmt', 'No', '68.92', 'Mkt&HR', '58.46', 'Placed', '275000']
['68', 'M', '80.92', 'Others', '78.50', 'Others', 'Commerce', '67.00', 'Comm&Mgmt', 'No', '68.71', 'Mkt&Fin', '60.99', 'Placed', '275000']
['69', 'F', '69.70', 'Central', '47.00', 'Central', 'Commerce', '72.70', 'Sci&Tech', 'No', '79', 'Mkt&HR', '59.24', 'Not Placed', '']
['70', 'M', '73.00', 'Central', '73.00', 'Central', 'Science', '66.00', 'Sci&Tech', 'Yes', '70', 'Mkt&Fin', '68.07', 'Placed', '275000']
['71', 'M', '82.00', 'Others', '61.00', 'Others', 'Science', '62.00', 'Sci&Tech', 'No', '89', 'Mkt&Fin', '65.45', 'Placed', '360000']
['72', 'M', '75.00', 'Others', '70.29', 'Others', 'Commerce', '71.00', 'Comm&Mgmt', 'No', '95', 'Mkt&Fin', '66.94', 'Placed', '240000']
['73', 'M', '84.86', 'Others', '67.00', 'Others', 'Science', '78.00', 'Comm&Mgmt', 'No', '95.5', 'Mkt&Fin', '68.53', 'Placed', '240000']
['74', 'M', '64.60', 'Central', '83.83', 'Others', 'Commerce', '71.72', 'Comm&Mgmt', 'No', '86', 'Mkt&Fin', '59.75', 'Placed', '218000']
['75', 'M', '56.60', 'Central', '64.80', 'Central', 'Commerce', '70.20', 'Comm&Mgmt', 'No', '84.27', 'Mkt&Fin', '67.2', 'Placed', '336000']
['76', 'F', '59.00', 'Central', '62.00', 'Others', 'Commerce', '77.50', 'Comm&Mgmt', 'No', '74', 'Mkt&HR', '67', 'Not Placed', '']
['77', 'F', '66.50', 'Others', '70.40', 'Central', 'Arts', '71.93', 'Comm&Mgmt', 'No', '61', 'Mkt&Fin', '64.27', 'Placed', '230000']
['78', 'M', '64.00', 'Others', '80.00', 'Others', 'Science', '65.00', 'Sci&Tech', 'Yes', '69', 'Mkt&Fin', '57.65', 'Placed', '500000']
['79', 'M', '84.00', 'Others', '90.90', 'Others', 'Science', '64.50', 'Sci&Tech', 'No', '86.04', 'Mkt&Fin', '59.42', 'Placed', '270000']
['80', 'F', '69.00', 'Central', '62.00', 'Central', 'Science', '66.00', 'Sci&Tech', 'No', '75', 'Mkt&HR', '67.99', 'Not Placed', '']
['81', 'F', '69.00', 'Others', '62.00', 'Others', 'Commerce', '69.00', 'Comm&Mgmt', 'Yes', '67', 'Mkt&HR', '62.35', 'Placed', '240000']
['82', 'M', '81.70', 'Others', '63.00', 'Others', 'Science', '67.00', 'Comm&Mgmt', 'Yes', '86', 'Mkt&Fin', '70.2', 'Placed', '300000']
['83', 'M', '63.00', 'Central', '67.00', 'Central', 'Commerce', '74.00', 'Comm&Mgmt', 'No', '82', 'Mkt&Fin', '60.44', 'Not Placed', '']
['84', 'M', '84.00', 'Others', '79.00', 'Others', 'Science', '68.00', 'Sci&Tech', 'Yes', '84', 'Mkt&Fin', '66.69', 'Placed', '300000']
['85', 'M', '70.00', 'Central', '63.00', 'Others', 'Science', '70.00', 'Sci&Tech', 'Yes', '55', 'Mkt&Fin', '62', 'Placed', '300000']
['86', 'F', '83.84', 'Others', '89.83', 'Others', 'Commerce', '77.20', 'Comm&Mgmt', 'Yes', '78.74', 'Mkt&Fin', '76.18', 'Placed', '400000']
['87', 'M', '62.00', 'Others', '63.00', 'Others', 'Commerce', '64.00', 'Comm&Mgmt', 'No', '67', 'Mkt&Fin', '57.03', 'Placed', '220000']
['88', 'M', '59.60', 'Central', '51.00', 'Central', 'Science', '60.00', 'Others', 'No', '75', 'Mkt&HR', '59.08', 'Not Placed', '']
['89', 'F', '66.00', 'Central', '62.00', 'Central', 'Commerce', '73.00', 'Comm&Mgmt', 'No', '58', 'Mkt&HR', '64.36', 'Placed', '210000']
['90', 'F', '84.00', 'Others', '75.00', 'Others', 'Science', '69.00', 'Sci&Tech', 'Yes', '62', 'Mkt&HR', '62.36', 'Placed', '210000']
['91', 'F', '85.00', 'Others', '90.00', 'Others', 'Commerce', '82.00', 'Comm&Mgmt', 'No', '92', 'Mkt&Fin', '68.03', 'Placed', '300000']
['92', 'M', '52.00', 'Central', '57.00', 'Central', 'Commerce', '50.80', 'Comm&Mgmt', 'No', '67', 'Mkt&HR', '62.79', 'Not Placed', '']
['93', 'F', '60.23', 'Central', '69.00', 'Central', 'Science', '66.00', 'Comm&Mgmt', 'No', '72', 'Mkt&Fin', '59.47', 'Placed', '230000']
['94', 'M', '52.00', 'Central', '62.00', 'Central', 'Commerce', '54.00', 'Comm&Mgmt', 'No', '72', 'Mkt&HR', '55.41', 'Not Placed', '']
['95', 'M', '58.00', 'Central', '62.00', 'Central', 'Commerce', '64.00', 'Comm&Mgmt', 'No', '53.88', 'Mkt&Fin', '54.97', 'Placed', '260000']
['96', 'M', '73.00', 'Central', '78.00', 'Others', 'Commerce', '65.00', 'Comm&Mgmt', 'Yes', '95.46', 'Mkt&Fin', '62.16', 'Placed', '420000']
['97', 'F', '76.00', 'Central', '70.00', 'Central', 'Science', '76.00', 'Comm&Mgmt', 'Yes', '66', 'Mkt&Fin', '64.44', 'Placed', '300000']
['98', 'F', '70.50', 'Central', '62.50', 'Others', 'Commerce', '61.00', 'Comm&Mgmt', 'No', '93.91', 'Mkt&Fin', '69.03', 'Not Placed', '']
['99', 'F', '69.00', 'Central', '73.00', 'Central', 'Commerce', '65.00', 'Comm&Mgmt', 'No', '70', 'Mkt&Fin', '57.31', 'Placed', '220000']
['100', 'M', '54.00', 'Central', '82.00', 'Others', 'Commerce', '63.00', 'Sci&Tech', 'No', '50', 'Mkt&Fin', '59.47', 'Not Placed', '']
['101', 'F', '45.00', 'Others', '57.00', 'Others', 'Commerce', '58.00', 'Comm&Mgmt', 'Yes', '56.39', 'Mkt&HR', '64.95', 'Not Placed', '']
['102', 'M', '63.00', 'Central', '72.00', 'Central', 'Commerce', '68.00', 'Comm&Mgmt', 'No', '78', 'Mkt&HR', '60.44', 'Placed', '380000']
['103', 'F', '77.00', 'Others', '61.00', 'Others', 'Commerce', '68.00', 'Comm&Mgmt', 'Yes', '57.5', 'Mkt&Fin', '61.31', 'Placed', '300000']
['104', 'M', '73.00', 'Central', '78.00', 'Central', 'Science', '73.00', 'Sci&Tech', 'Yes', '85', 'Mkt&HR', '65.83', 'Placed', '240000']
['105', 'M', '69.00', 'Central', '63.00', 'Others', 'Science', '65.00', 'Comm&Mgmt', 'Yes', '55', 'Mkt&HR', '58.23', 'Placed', '360000']
['106', 'M', '59.00', 'Central', '64.00', 'Others', 'Science', '58.00', 'Sci&Tech', 'No', '85', 'Mkt&HR', '55.3', 'Not Placed', '']
['107', 'M', '61.08', 'Others', '50.00', 'Others', 'Science', '54.00', 'Sci&Tech', 'No', '71', 'Mkt&Fin', '65.69', 'Not Placed', '']
['108', 'M', '82.00', 'Others', '90.00', 'Others', 'Commerce', '83.00', 'Comm&Mgmt', 'No', '80', 'Mkt&HR', '73.52', 'Placed', '200000']
['109', 'M', '61.00', 'Central', '82.00', 'Central', 'Commerce', '69.00', 'Comm&Mgmt', 'No', '84', 'Mkt&Fin', '58.31', 'Placed', '300000']
['110', 'M', '52.00', 'Central', '63.00', 'Others', 'Science', '65.00', 'Sci&Tech', 'Yes', '86', 'Mkt&HR', '56.09', 'Not Placed', '']
['111', 'F', '69.50', 'Central', '70.00', 'Central', 'Science', '72.00', 'Sci&Tech', 'No', '57.2', 'Mkt&HR', '54.8', 'Placed', '250000']
['112', 'M', '51.00', 'Others', '54.00', 'Others', 'Science', '61.00', 'Sci&Tech', 'No', '60', 'Mkt&HR', '60.64', 'Not Placed', '']
['113', 'M', '58.00', 'Others', '61.00', 'Others', 'Commerce', '61.00', 'Comm&Mgmt', 'No', '58', 'Mkt&HR', '53.94', 'Placed', '250000']
['114', 'F', '73.96', 'Others', '79.00', 'Others', 'Commerce', '67.00', 'Comm&Mgmt', 'No', '72.15', 'Mkt&Fin', '63.08', 'Placed', '280000']
['115', 'M', '65.00', 'Central', '68.00', 'Others', 'Science', '69.00', 'Comm&Mgmt', 'No', '53.7', 'Mkt&HR', '55.01', 'Placed', '250000']
['116', 'F', '73.00', 'Others', '63.00', 'Others', 'Science', '66.00', 'Comm&Mgmt', 'No', '89', 'Mkt&Fin', '60.5', 'Placed', '216000']
['117', 'M', '68.20', 'Central', '72.80', 'Central', 'Commerce', '66.60', 'Comm&Mgmt', 'Yes', '96', 'Mkt&Fin', '70.85', 'Placed', '300000']
['118', 'M', '77.00', 'Others', '75.00', 'Others', 'Science', '73.00', 'Sci&Tech', 'No', '80', 'Mkt&Fin', '67.05', 'Placed', '240000']
['119', 'M', '76.00', 'Central', '80.00', 'Central', 'Science', '78.00', 'Sci&Tech', 'Yes', '97', 'Mkt&HR', '70.48', 'Placed', '276000']
['120', 'M', '60.80', 'Central', '68.40', 'Central', 'Commerce', '64.60', 'Comm&Mgmt', 'Yes', '82.66', 'Mkt&Fin', '64.34', 'Placed', '940000']
['121', 'M', '58.00', 'Others', '40.00', 'Others', 'Science', '59.00', 'Comm&Mgmt', 'No', '73', 'Mkt&HR', '58.81', 'Not Placed', '']
['122', 'F', '64.00', 'Central', '67.00', 'Others', 'Science', '69.60', 'Sci&Tech', 'Yes', '55.67', 'Mkt&HR', '71.49', 'Placed', '250000']
['123', 'F', '66.50', 'Central', '66.80', 'Central', 'Arts', '69.30', 'Comm&Mgmt', 'Yes', '80.4', 'Mkt&Fin', '71', 'Placed', '236000']
['124', 'M', '74.00', 'Others', '59.00', 'Others', 'Commerce', '73.00', 'Comm&Mgmt', 'Yes', '60', 'Mkt&HR', '56.7', 'Placed', '240000']
['125', 'M', '67.00', 'Central', '71.00', 'Central', 'Science', '64.33', 'Others', 'Yes', '64', 'Mkt&HR', '61.26', 'Placed', '250000']
['126', 'F', '84.00', 'Central', '73.00', 'Central', 'Commerce', '73.00', 'Comm&Mgmt', 'No', '75', 'Mkt&Fin', '73.33', 'Placed', '350000']
['127', 'F', '79.00', 'Others', '61.00', 'Others', 'Science', '75.50', 'Sci&Tech', 'Yes', '70', 'Mkt&Fin', '68.2', 'Placed', '210000']
['128', 'F', '72.00', 'Others', '60.00', 'Others', 'Science', '69.00', 'Comm&Mgmt', 'No', '55.5', 'Mkt&HR', '58.4', 'Placed', '250000']
['129', 'M', '80.40', 'Central', '73.40', 'Central', 'Science', '77.72', 'Sci&Tech', 'Yes', '81.2', 'Mkt&HR', '76.26', 'Placed', '400000']
['130', 'M', '76.70', 'Central', '89.70', 'Others', 'Commerce', '66.00', 'Comm&Mgmt', 'Yes', '90', 'Mkt&Fin', '68.55', 'Placed', '250000']
['131', 'M', '62.00', 'Central', '65.00', 'Others', 'Commerce', '60.00', 'Comm&Mgmt', 'No', '84', 'Mkt&Fin', '64.15', 'Not Placed', '']
['132', 'F', '74.90', 'Others', '57.00', 'Others', 'Science', '62.00', 'Others', 'Yes', '80', 'Mkt&Fin', '60.78', 'Placed', '360000']
['133', 'M', '67.00', 'Others', '68.00', 'Others', 'Commerce', '64.00', 'Comm&Mgmt', 'Yes', '74.4', 'Mkt&HR', '53.49', 'Placed', '300000']
['134', 'M', '73.00', 'Central', '64.00', 'Others', 'Commerce', '77.00', 'Comm&Mgmt', 'Yes', '65', 'Mkt&HR', '60.98', 'Placed', '250000']
['135', 'F', '77.44', 'Central', '92.00', 'Others', 'Commerce', '72.00', 'Comm&Mgmt', 'Yes', '94', 'Mkt&Fin', '67.13', 'Placed', '250000']
['136', 'F', '72.00', 'Central', '56.00', 'Others', 'Science', '69.00', 'Comm&Mgmt', 'No', '55.6', 'Mkt&HR', '65.63', 'Placed', '200000']
['137', 'F', '47.00', 'Central', '59.00', 'Central', 'Arts', '64.00', 'Comm&Mgmt', 'No', '78', 'Mkt&Fin', '61.58', 'Not Placed', '']
['138', 'M', '67.00', 'Others', '63.00', 'Central', 'Commerce', '72.00', 'Comm&Mgmt', 'No', '56', 'Mkt&HR', '60.41', 'Placed', '225000']
['139', 'F', '82.00', 'Others', '64.00', 'Others', 'Science', '73.00', 'Sci&Tech', 'Yes', '96', 'Mkt&Fin', '71.77', 'Placed', '250000']
['140', 'M', '77.00', 'Central', '70.00', 'Central', 'Commerce', '59.00', 'Comm&Mgmt', 'Yes', '58', 'Mkt&Fin', '54.43', 'Placed', '220000']
['141', 'M', '65.00', 'Central', '64.80', 'Others', 'Commerce', '69.50', 'Comm&Mgmt', 'Yes', '56', 'Mkt&Fin', '56.94', 'Placed', '265000']
['142', 'M', '66.00', 'Central', '64.00', 'Central', 'Science', '60.00', 'Comm&Mgmt', 'No', '60', 'Mkt&HR', '61.9', 'Not Placed', '']
['143', 'M', '85.00', 'Central', '60.00', 'Others', 'Science', '73.43', 'Sci&Tech', 'Yes', '60', 'Mkt&Fin', '61.29', 'Placed', '260000']
['144', 'M', '77.67', 'Others', '64.89', 'Others', 'Commerce', '70.67', 'Comm&Mgmt', 'No', '89', 'Mkt&Fin', '60.39', 'Placed', '300000']
['145', 'M', '52.00', 'Others', '50.00', 'Others', 'Arts', '61.00', 'Comm&Mgmt', 'No', '60', 'Mkt&Fin', '58.52', 'Not Placed', '']

In [20]:
#open csv from url or web
imports requests
from io import StringIO

url = "urls haaku"
headers = {"yavadralli browse agtide"}
req = requests.get(url, headers=headers)
data = StringIO(req.text)

pd.read_csv(data)

SyntaxError: invalid syntax (3024461383.py, line 2)

In [22]:
#sep 
pd.read_csv('placement.csv',sep='\t')

    sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0    1,M,67.00,Others,91.00,Others,Commerce,58.00,S...
1    2,M,79.33,Central,78.33,Others,Science,77.48,S...
2    3,M,65.00,Central,68.00,Central,Arts,64.00,Com...
3    4,M,56.00,Central,52.00,Central,Science,52.00,...
4    5,M,85.80,Central,73.60,Central,Commerce,73.30...
..                                                 ...
210  211,M,80.60,Others,82.00,Others,Commerce,77.60...
211  212,M,58.00,Others,60.00,Others,Science,72.00,...
212  213,M,67.00,Others,67.00,Others,Commerce,73.00...
213  214,F,74.00,Others,66.00,Others,Commerce,58.00...
214  215,M,62.00,Central,58.00,Others,Science,53.00...

[215 rows x 1 columns]

In [20]:
#names
pd.read_csv('placement.csv',names=['s_no'])

                                                                                                                       s_no
sl_no gender ssc_p ssc_b   hsc_p hsc_b   hsc_s    degree_p degree_t  workex etest_p specialisation mba_p status      salary
1     M      67.00 Others  91.00 Others  Commerce 58.00    Sci&Tech  No     55      Mkt&HR         58.8  Placed      270000
2     M      79.33 Central 78.33 Others  Science  77.48    Sci&Tech  Yes    86.5    Mkt&Fin        66.28 Placed      200000
3     M      65.00 Central 68.00 Central Arts     64.00    Comm&Mgmt No     75      Mkt&Fin        57.8  Placed      250000
4     M      56.00 Central 52.00 Central Science  52.00    Sci&Tech  No     66      Mkt&HR         59.43 Not Placed     NaN
...                                                                                                                     ...
211   M      80.60 Others  82.00 Others  Commerce 77.60    Comm&Mgmt No     91      Mkt&Fin        74.49 Placed      400000
212   M      58.00 Others  60.00 Others  Science  72.00    Sci&Tech  No     74      Mkt&Fin        53.62 Placed      275000
213   M      67.00 Others  67.00 Others  Commerce 73.00    Comm&Mgmt Yes    59      Mkt&Fin        69.72 Placed      295000
214   F      74.00 Others  66.00 Others  Commerce 58.00    Comm&Mgmt No     70      Mkt&HR         60.23 Placed      204000
215   M      62.00 Central 58.00 Others  Science  53.00    Comm&Mgmt No     89      Mkt&HR         60.22 Not Placed     NaN

[216 rows x 1 columns]

In [22]:
#index_col is for if u have 2 id but one id is unnecesssary
pd.read_csv('placement.csv',index_col='sl_no')

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
sl_no,,,,,,,,,,,,,,
1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [24]:
#header parameter
pd.read_csv('placement.csv',header=2)

,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000
0,3,M,65.0,Central,68.0,Central,Arts,64.00,Comm&Mgmt,No,75.00,Mkt&Fin,57.80,Placed,250000.0
1,4,M,56.0,Central,52.0,Central,Science,52.00,Sci&Tech,No,66.00,Mkt&HR,59.43,Not Placed,NaN
2,5,M,85.8,Central,73.6,Central,Commerce,73.30,Comm&Mgmt,No,96.80,Mkt&Fin,55.50,Placed,425000.0
3,6,M,55.0,Others,49.8,Others,Science,67.25,Sci&Tech,Yes,55.00,Mkt&Fin,51.58,Not Placed,NaN
4,7,F,46.0,Others,49.2,Others,Commerce,79.00,Comm&Mgmt,No,74.28,Mkt&Fin,53.29,Not Placed,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,211,M,80.6,Others,82.0,Others,Commerce,77.60,Comm&Mgmt,No,91.00,Mkt&Fin,74.49,Placed,400000.0
209,212,M,58.0,Others,60.0,Others,Science,72.00,Sci&Tech,No,74.00,Mkt&Fin,53.62,Placed,275000.0
210,213,M,67.0,Others,67.0,Others,Commerce,73.00,Comm&Mgmt,Yes,59.00,Mkt&Fin,69.72,Placed,295000.0
211,214,F,74.0,Others,66.0,Others,Commerce,58.00,Comm&Mgmt,No,70.00,Mkt&HR,60.23,Placed,204000.0
212,215,M,62.0,Central,58.0,Others,Science,53.00,Comm&Mgmt,No,89.00,Mkt&HR,60.22,Not Placed,NaN

In [28]:
#use_cols parameter  -which column u should u take
pd.read_csv('placement.csv',usecols=['sl_no','hsc_s','workex'])

     sl_no     hsc_s workex
0        1  Commerce     No
1        2   Science    Yes
2        3      Arts     No
3        4   Science     No
4        5  Commerce     No
..     ...       ...    ...
210    211  Commerce     No
211    212   Science     No
212    213  Commerce    Yes
213    214  Commerce     No
214    215   Science     No

[215 rows x 3 columns]

In [30]:
#skiprows/nrows parameter
pd.read_csv('placement.csv',skiprows=[5,1])

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.50,Mkt&Fin,66.28,Placed,200000.0
1,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.00,Mkt&Fin,57.80,Placed,250000.0
2,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.00,Mkt&HR,59.43,Not Placed,NaN
3,6,M,55.00,Others,49.80,Others,Science,67.25,Sci&Tech,Yes,55.00,Mkt&Fin,51.58,Not Placed,NaN
4,7,F,46.00,Others,49.20,Others,Commerce,79.00,Comm&Mgmt,No,74.28,Mkt&Fin,53.29,Not Placed,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.00,Mkt&Fin,74.49,Placed,400000.0
209,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.00,Mkt&Fin,53.62,Placed,275000.0
210,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.00,Mkt&Fin,69.72,Placed,295000.0
211,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.00,Mkt&HR,60.23,Placed,204000.0
212,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.00,Mkt&HR,60.22,Not Placed,NaN

In [32]:
#nrow
pd.read_csv('placement.csv',nrows=10)

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.00,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.50,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.00,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.00,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.80,Mkt&Fin,55.50,Placed,425000.0
5,6,M,55.00,Others,49.80,Others,Science,67.25,Sci&Tech,Yes,55.00,Mkt&Fin,51.58,Not Placed,NaN
6,7,F,46.00,Others,49.20,Others,Commerce,79.00,Comm&Mgmt,No,74.28,Mkt&Fin,53.29,Not Placed,NaN
7,8,M,82.00,Central,64.00,Central,Science,66.00,Sci&Tech,Yes,67.00,Mkt&Fin,62.14,Placed,252000.0
8,9,M,73.00,Central,79.00,Central,Commerce,72.00,Comm&Mgmt,No,91.34,Mkt&Fin,61.29,Placed,231000.0
9,10,M,58.00,Central,70.00,Central,Commerce,61.00,Comm&Mgmt,No,54.00,Mkt&Fin,52.21,Not Placed,NaN

In [34]:
#encoding
pd.read_csv('placement.csv',encoding='latin-1')

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [42]:
#convertor
def rename(name):
    if name == "Commerce":
        return "com"
    else:
        return name
rename("Commerce")

'com'

In [44]:
pd.read_csv('placement.csv',converters={'hsc_s':rename})

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,com,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,com,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,com,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,com,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,com,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [46]:
#na_values parameters
pd.read_csv('placement.csv',na_values=['no'])

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [66]:
#loding a huge dataset in chun
ddd=pd.read_csv('placement.csv',chunksize=50)

In [68]:
for chunks in ddd:
    print(chunks.shape)

(50, 15)
(50, 15)
(50, 15)
(50, 15)
(15, 15)